@using DEM.App
@model Tuple<List<RootCategoryDto>, string>
@{
    ViewData["Title"] = Model.Item2;
}

<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
    </div>
    <div class="content-body" style="padding-top:10px">
        <!-- Chart -->
        <div class="row match-height" hidden>
            <div class="col-12">
                <div class="">
                    <div id="gradient-line-chart1" class="height-250 GradientlineShadow1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card pull-up ecom-card-1 bg-white dem-root-category" id="@Model.Item1[0].Name.ToLower()"
                     data-caption="@Model.Item1[0].Caption"
                     data-style="danger"
                     data-icon-category="icon-basket-loaded"
                     data-root-category-type="@Model.Item1[0].Name">
                    <div class="card-content ecom-card2 height-180">
                        <h5 class="text-muted danger position-absolute p-1">@Model.Item1[0].Caption</h5>
                        <div>
                            <i class="ft-pie-chart danger font-large-1 float-right p-1"></i>
                        </div>
                        <div class="progress-stats-container ct-golden-section height-50 position-relative pt-3">
                            <div id="progress-stats-bar-chart"></div>
                            <div id="progress-stats-line-chart" class="progress-stats-shadow"></div>
                        </div>
                        <partial name="_referenceAction.cshtml" />
                    </div>

                </div>

            </div>
            <div class="col-md-4">
                <div class="card pull-up ecom-card-1 bg-white dem-root-category" id="@Model.Item1[1].Name.ToLower()"
                     data-caption="@Model.Item1[1].Caption"
                     data-style="info"
                     data-icon-category="icon-wallet"
                     data-root-category-type="@Model.Item1[1].Name">
                    <div class="card-content ecom-card2 height-180">
                        <h5 class="text-muted info position-absolute p-1">@Model.Item1[1].Caption</h5>
                        <div>
                            <i class="ft-activity info font-large-1 float-right p-1"></i>
                        </div>
                        <div class="progress-stats-container ct-golden-section height-50 position-relative pt-3">
                            <div id="progress-stats-bar-chart1"></div>
                            <div id="progress-stats-line-chart1" class="progress-stats-shadow"></div>
                        </div>
                        <partial name="_referenceAction.cshtml" />

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card pull-up ecom-card-1 bg-white dem-root-category" id="@Model.Item1[2].Name.ToLower()"
                     data-caption="@Model.Item1[2].Caption"
                     data-style="warning"
                     data-icon-category="ft-pocket"
                     data-root-category-type="@Model.Item1[2].Name">
                    <div class="card-content ecom-card2 height-180">
                        <h5 class="text-muted warning position-absolute p-1">@Model.Item1[2].Caption</h5>
                        <div>
                            <i class="ft-shopping-cart warning font-large-1 float-right p-1"></i>
                        </div>
                        <div class="progress-stats-container ct-golden-section height-50 position-relative pt-3">
                            <div id="progress-stats-bar-chart2"></div>
                            <div id="progress-stats-line-chart2" class="progress-stats-shadow"></div>
                        </div>
                        <partial name="_referenceAction.cshtml" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Giao dịch trong tháng</h4>
                        <a class="heading-elements-toggle">
                            <i class="la la-ellipsis-v font-medium-3"></i>
                        </a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a data-action="reload" onclick="demIndex.init(demIndex.actionType.DailyInMonth)">
                                        <i class="ft-rotate-cw"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div id="quarterly-daily" class="height-300 BarChartShadow"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thực chi và kế hoạch chi</h4>
                        <a class="heading-elements-toggle">
                            <i class="la la-ellipsis-v font-medium-3"></i>
                        </a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a data-action="reload" onclick="demIndex.init(demIndex.actionType.ExpendedRealAndIntended)">
                                        <i class="ft-rotate-cw"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div id="dashboard-expense-real" class="height-300 BarChartShadow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
