@using DEM.App
@model Tuple<List<RootCategoryDto>,string>
@{ 
    ViewData["Title"] = Model.Item2;
}

<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
    </div>
    <div class="content-body" style="padding-top:10px">
        <!-- Chart -->
        <div class="row match-height" hidden>
            <div class="col-12">
                <div class="">
                    <div id="gradient-line-chart1" class="height-250 GradientlineShadow1"></div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <div class="card pull-up ecom-card-1 bg-white dem-root-category" id="@Model.Item1[0].Name.ToLower()" 
                     data-caption="@Model.Item1[0].Caption" 
                     data-style="danger" 
                     data-icon-category="icon-basket-loaded" 
                     data-root-category-type="@Model.Item1[0].Name">
                    <div class="card-content ecom-card2 height-180">
                        <h5 class="text-muted danger position-absolute p-1">@Model.Item1[0].Caption</h5>
                        <div>
                            <i class="ft-pie-chart danger font-large-1 float-right p-1"></i>
                        </div>
                        <div class="progress-stats-container ct-golden-section height-50 position-relative pt-3">
                            <div id="progress-stats-bar-chart"></div>
                            <div id="progress-stats-line-chart" class="progress-stats-shadow"></div>
                        </div>
                        <div class="dem-reference-action">
                            <button type="button" class="btn btn-glow btn-bg-gradient-x-purple-red"
                                    onclick="demIndex.clickEvent(this, demIndex.actionType.AddExpense)">
                                Tạo giao dịch
                            </button>
                            <button type="button" class="btn btn-glow btn-bg-gradient-x-blue-cyan" style="float: right;"
                                    onclick="demIndex.clickEvent(this, demIndex.actionType.BuildIntended)">
                                Dự trù 
                            </button>
                            <div class="clear-fix"></div>
                            <button type="button" class="btn btn-glow btn-bg-gradient-x-orange-yellow"
                                    onclick="demIndex.clickEvent(this, demIndex.actionType.ToCategoryPage)">
                                Danh sách khoản mục
                            </button>
                            <div class="clear-fix"></div>
                            <button type="button" class="btn btn-glow btn-bg-gradient-x-red-pink"
                                    onclick="demIndex.clickEvent(this, demIndex.actionType.ToExpensePage)">
                                Danh sách giao dịch
                            </button>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="card pull-up ecom-card-1 bg-white dem-root-category" id="@Model.Item1[1].Name.ToLower()" 
                     data-caption="@Model.Item1[1].Caption" 
                     data-style="info" 
                     data-icon-category="icon-wallet" 
                     data-root-category-type="@Model.Item1[1].Name" >
                    <div class="card-content ecom-card2 height-180">
                        <h5 class="text-muted info position-absolute p-1">@Model.Item1[1].Caption</h5>
                        <div>
                            <i class="ft-activity info font-large-1 float-right p-1"></i>
                        </div>
                        <div class="progress-stats-container ct-golden-section height-50 position-relative pt-3">
                            <div id="progress-stats-bar-chart1"></div>
                            <div id="progress-stats-line-chart1" class="progress-stats-shadow"></div>
                        </div>
                        <div class="dem-reference-action">
                            <button type="button" class="btn btn-glow btn-bg-gradient-x-purple-red" 
                                    onclick="demIndex.clickEvent(this, demIndex.actionType.AddExpense)">Tạo giao dịch</button>
                            <div class="clear-fix"></div>
                            <button type="button" class="btn btn-glow btn-bg-gradient-x-orange-yellow"
                                    onclick="demIndex.clickEvent(this, demIndex.actionType.ToCategoryPage)">Danh sách khoản mục</button>
                            <div class="clear-fix"></div>
                            <button type="button" class="btn btn-glow btn-bg-gradient-x-red-pink"
                                    onclick="demIndex.clickEvent(this, demIndex.actionType.ToExpensePage)">Danh sách giao dịch</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card pull-up ecom-card-1 bg-white dem-root-category" id="@Model.Item1[2].Name.ToLower()"
                     data-caption="@Model.Item1[2].Caption" 
                     data-style="warning" 
                     data-icon-category="ft-pocket" 
                     data-root-category-type="@Model.Item1[2].Name">
                    <div class="card-content ecom-card2 height-180">
                        <h5 class="text-muted warning position-absolute p-1">@Model.Item1[2].Caption</h5>
                        <div>
                            <i class="ft-shopping-cart warning font-large-1 float-right p-1"></i>
                        </div>
                        <div class="progress-stats-container ct-golden-section height-50 position-relative pt-3">
                            <div id="progress-stats-bar-chart2"></div>
                            <div id="progress-stats-line-chart2" class="progress-stats-shadow"></div>
                        </div>
                        <div class="dem-reference-action">
                            <button type="button" class="btn btn-glow btn-bg-gradient-x-purple-red" 
                                    onclick="demIndex.clickEvent(this, demIndex.actionType.AddExpense)">Tạo giao dịch</button>
                            <div class="clear-fix"></div>
                            <button type="button" class="btn btn-glow btn-bg-gradient-x-orange-yellow"
                                    onclick="demIndex.clickEvent(this, demIndex.actionType.ToCategoryPage)">Danh sách khoản mục</button>
                            <div class="clear-fix"></div>
                            <button type="button" class="btn btn-glow btn-bg-gradient-x-red-pink"
                                    onclick="demIndex.clickEvent(this, demIndex.actionType.ToExpensePage)">Danh sách giao dịch</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
