@model DEM.App.CategoryDto;
@{
    Layout = null;
}
@*<style>
    section#dem-category-edit modal {
        height: auto;
    }
</style>*@
<section id="dem-category-edit" class="app-materialize">
    <div class="card-content collpase show">
        <div class="card-body">
            <input name="Id" value="@Model.Id" hidden />
            <input name="Type" value="@Model.Type" hidden />
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" placeholder="Nhập tên" class="form-control" name="Name" value="@Model.Name" required validate-message-required="Thông tin bắt buộc nhập!">
                    <label for="Name" class="active">Tên loại</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea class="materialize-textarea" placeholder="Thông tin chi tiết" value="@Model.Description" onchange="categoryEditIndex.changeEvent(this,categoryAddIndex.actionType.MapDescription)">@Model.Description</textarea>
                    <input type="text" hidden="" value="@Model.Description" name="Description">
                    <label for="Description" class="active">Mô tả</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light dem-action-submit" name="action" onclick="categoryEditIndex.clickEvent(this, categoryEditIndex.actionType.Save)">
                    OK
                </button>
            </div>
        </div>
    </div>
</section>